# backend env
NODE_ENV=development
PORT=3005

# dev patch to file
UPLOAD_PATH=uploads

# JWT Secret Key
JWT_SECRET=supersecuresecret

# MySQL Database Config
APP_DB_HOST=db_host
APP_DB_PORT=db_port
APP_DB_USER=db_user
APP_DB_PASSWORD=password_for_db
APP_DB_NAME=your_db_name

TYPEORM_SYNCHRONIZE=true  # true dla development, false for production

COMMENTS_NOTIFICATION_DELAY=600000 # 10 * 60 * 1000 = 600000 = 10min

# gmail email settings
GMAIL_USE=true
GMAIL_USER=your_gmail@gmail.com
GMAIL_PASS=your_gmail_key_pass
