<!-- MESSAGE -->
<tr>
  <td style='line-height:1.6;'>
    <p>OFFER Dzień dobry dostawco.</p>
    <div id='dynamic-content'>
      {{{HTMLContent}}}
    </div>
    <p style='margin-top:20px;'>
      <a
        href='{{linkToSet}}'
        target='_blank'
        style='color:#3bbfa1; text-decoration:none; font-weight:bold;'
      >
        Zestawienie
      </a>
    </p>
  </td>
</tr>