<table align='center' width='800px' border='0'
  style='margin:20px auto; max-width:800px; border-collapse: collapse;'>
  <tr>
    <td style='font-size:16px;'>

      {{> header}}

      {{> (lookup . "contentPartial") }}

      {{> footer}}

    </td>
  </tr>
</table>